.form-control {
  display: block;
  text-align: center;
}

button {
  width: 10%;
  margin: 1em;
}

.wrapper {
    display: inline;
    text-align: center;
}

.form-control {
    display: inline;
    text-align: center;
    margin: 2em;
    width: 25em;
    height: 10em;
}